<div class="body">
  <img src="usuario_chess.png" alt="Foto predeterminada de usuario" />
  <form class="formulario_estandar" (ngSubmit)="crearUsuario()">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" [value]="nextId" readonly />
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" #nombreInput name="nombre" required />
    <label for="email">Email:</label>
    <input type="email" id="email" #emailInput name="email" required />
    <input type="submit" id="submit" value="Crear usuario" />
  </form>
</div>
