<div class="pieDePagina">
  <div>
    <div class="dev">
      <p>Programador:</p>
      <p>Alejandro RJ</p>
    </div>
    <div class="func">
      <p>Función de la API:</p>
      <p>Acciones CRUD en BBDD MySQL</p>
    </div>
  </div>
  <div>
    <div class="lang">
      <p>Lenguajes:</p>
      <p>HTML, CSS, TS/JS, Java</p>
    </div>
    <div class="fwk">
      <p>Frameworks:</p>
      <p>Angular, Spring Boot</p>
    </div>
    <div class="db">
      <p>Base de datos:</p>
      <p>MySQL</p>
    </div>
  </div>
</div>
