input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.body {
  display: grid;
  grid-template-areas:
    ". . . der der der"
    "izq izq izq der der der"
    ". . . der der der";
  grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr;
  grid-template-rows: auto auto auto;
  height: 70vh;

  .der {
    grid-area: der;
    display: grid;
    place-items: center;
  }
  .izq {
    grid-area: izq;
  }
}

p {
  text-align: center;
  align-self: center;
  font: bold large Verdana;
}

.buscador {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 20px;
  border: 1px solid;
  overflow: hidden;

  input {
    padding: 0.5em;
    width: 75%;
    text-align: center;
    font: medium Verdana;
    outline: none;
    border: 0;
  }

  button {
    border: 0;
    width: 25%;
    aspect-ratio: 3/1;
    padding: 0.5em;
    cursor: pointer;
    background-color: darkgray;
    img {
      width: 25px;
    }
  }
}

.carta {
  width: 40%;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #id {
    width: 95%;
    margin: 5px 0 10px;
    text-align: end;
    font: bolder medium Verdana;
  }

  img {
    width: 60%;
  }

  #nombre {
    font: bold 35px Verdana;
    border-bottom: 5px solid lightgray;
    width: 90%;
    margin: 30 0 10;
  }

  .email {
    margin: 0;
    font: large Verdana;
    width: 85%;
  }

  #email {
    margin: 0 0 15;
    width: 85%;
    font: medium Verdana;
  }
}
